<div>
    <h4>Registration</h4>
    <h2 *ngIf="message !=''"> {{message}}</h2>
    <form  [formGroup]="registrationForm">
        <div>
            <label>First Name:</label>
            <input type="text" formControlName="first_name"  />
            <div *ngIf="isSubmitted && formControls('first_name').errors?.required " class="error first_name_error"  >
                First name is required.
            </div>
    
            <div *ngIf="isSubmitted && formControls('first_name').errors?.minlength " class="error first_name_error"  >
                First name characters should be greater than 5 letters.
            </div>
        </div>
        <br>
        

        <div>
            <label>Last Name:</label>
            <input type="text" formControlName="last_name" />

            <div *ngIf="isSubmitted && formControls('last_name').errors?.required " class="error last_name_error"  >
                Last name is required.
            </div>
    
            <div *ngIf="isSubmitted && formControls('last_name').errors?.minlength " class="error last_name_error"  >
                Last name characters should be greater than 5 letters.
            </div>
        </div>
        <br>

        <div>
            <label>Phone:</label>
            <input type="text" formControlName="phone" />
            <div *ngIf="isSubmitted && formControls('phone').errors?.required " class="error phone_error"  >
                Phone is required.
            </div>
            <div *ngIf="isSubmitted && formControls('phone').errors?.pattern " class="error phone_error"  >
                Phone should be in number format.
            </div>
        </div>
        <br>

        <div>
            <label>Country:</label>
            <select formControlName="country">
                <option value="">Select:</option>
                <option value="india">India</option>
                <option value="usa">USA</option>
                <option value="canada">Canada</option>
            </select>
            <div *ngIf="isSubmitted && formControls('country').errors?.required " class="error country_error"  >
                Country is required.
            </div>
        </div>
        <br>

        <button type="button" (click)="register()"> Register</button>

    </form>


</div>