<div>
    <h4>Temp Tracker</h4> 

    <div>
        <label>Insert: </label>
        <input type="number" (keyup)="numberOnlyWithMax($event,input1,150)" #input1/> &nbsp; <button type="button" (click)="insert(input1)">Insert</button>
    </div>
    <br />
    <div>
        <button (click)="result = max">Max</button> &nbsp;
        <button (click)="result = min">Min</button> &nbsp;
        <button (click)="result = mean">Mean</button> &nbsp;
        <button (click)="result = mode.pop()">Mode</button> &nbsp;
        <button>Max</button> &nbsp;
    </div>

    <br />

    <div>
        <b>Result:</b> {{result}}
    </div>
  
</div>
