<div>
  <ul>
    <li><a routerLink="/registration" >Registeration</a></li>
    <li><a routerLink="/anagram" >Anagram</a></li>
    <li><a routerLink="/temp-tracker" >Temp Tracker</a></li>
  </ul>
</div>



<router-outlet></router-outlet>