<div>
    <h4>Anagram</h4>
    <input type="text" placeholder="Text"   #input1/>
    &nbsp;<input type="text" placeholder="Text"   #input2 />
    &nbsp;
    <button (click)="compare(input1.value,input2.value)">Check</button> {{result}}
   
</div>
